{% extends "base2.html" %}
{%block content%}
<div class="row" style="font-family: 'Indie Flower', cursive;">
    <div class="col-sm-4"><img src="{{ post.image.url }}" style="height:150px;width:200px"></div>
    <div class="col-sm-8">
        <h4>User - {{post.username}}</h4>
        <h4>{{post.first_name}} {{post.second_name}}</h4>
        <h4>{{post.email}}</h4>
    </div>
</div>
<!-- Post Content -->
<article>
    <div class="container">
      <h3>About</h3>
        <p>{{post.about}}</p>
    </div>
</article>
{%endblock%}